<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Добавить заявку</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{'/add-request'}" method="post">
        <div class="mb-3">
            <label class="form-label">ФИО :</label>
            <input type="text" class="form-control" name="userName" placeholder="ФИО :">
        </div>
        <div class="mb-3">
            <label class="form-label">Курс :</label>
            <select class="form-select" name="courseName">
                <option selected>Выберите курс</option>
                <option>Java Standard Edition</option>
                <option>Web Technologies</option>
                <option>Python Programming Language</option>
                <option>Java Pro</option>
                <option>UX/UI Design</option>
                <option>Django Framework</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Телефон :</label>
            <input type="text" class="form-control" name="phone" placeholder="+7 (___) ___-__-__">
        </div>
        <div class="mb-3">
            <label class="form-label">Комментарии :</label>
            <textarea class="form-control" name="commentary" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Добавить заявку</button>
    </form>
</div>
</body>
</html>