<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head><title>Добавить заявку</title></head>
<body>
<div layout:fragment="content">
    <form th:action="@{'/add-request'}" method="post">
        <div class="mb-3">
            <label class="form-label">Курс:</label>
            <select class="form-select" name="course.id" required>
                <option th:each="course : ${courses}"
                        th:value="${course.id}"
                        th:text="${course.name} + ' - ' + ${course.price} + ' USD'">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Добавить заявку</button>
    </form>
</div>
</body>
</html>